*{  
    margin: 0 auto;
    padding: 0;
    background-color: #e9ebf8;
    box-sizing: border-box;
    max-width: 800px;
    align-items: center;
}


main{
    display: flex;
    flex-direction: row-reverse;
}

.btn-menu{
    background-color: lightblue;
    height: 40px;
    width: 40px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #a6cccc;
}

.menu{
    margin-left: 30px;
}

.campo{
    margin-top: 30px;
    padding: auto;
    align-items: center;
    background-color: #9bddf7;
    width: 655px;
    height: 652px;
}

button{
    background-color: lightblue;
    height: 90px;
    width: 90px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #a6cccc;
}

button:active{
    transform: translateY(3px);
}

button:hover{
    background-color: #d1d1d1;

}